.message,
.errorMessage {
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.errorMessage {
    color: red;
    border: red;
}

.message {
    color: green;
    border: green;
}
